* {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background: #66FF99;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    color: #003311;
    padding: 1.75rem;
    text-align: center;
}

.principal {    
    color: #003311;
    font-weight: 100;
    min-height: calc(100vh - 251px);    
}
.principal .explicacao, .principal p {
    color: #003311;
    font-weight: 100;
}

.explicacao {
    background: #E6FFEE;
    padding: 2rem;
}

.exemplos {
    padding: 2rem 3rem;
}

.subtitulo {
    border-bottom: 1px solid #DCDCDC;
    border-left: 5px solid #66FF99;
    margin-top: 0;
    padding-left: .5rem;
}

.servico-nome {
    margin-bottom: 0;
}
.servico-descricao, .servico-operacao {
    color: #003311;
    font-weight: 100;
    margin: 0;
}
.servico-operacao {
    font-weight: bold !important;
}
.servico-exemplo {
    border: 1px dashed #003311;
    margin-bottom: 1rem;
    padding: 1rem;    
}
.servico-codigo, .servico-resposta {
    background: #F2F2F2;
    box-sizing: border-box;
    color: #0099E6;
    display: block;
    padding: 1rem;
    width: 100%;
}
.servico-codigo {
    margin-bottom: 1rem;
}
.servico-resposta {
    color: #808080;
}
.servico-explicacao {
    background: #CCE6FF;
    border: 1px solid #0080FF;
    border-radius: 3px;
    color: #0080FF !important;
    padding: .5rem;
}
.servico-destaque {
    color: #009933;
}

.footer {
    background: #F5F5F5;
    border-top: 1px solid #DCDCDC;
    padding: 2rem;
    text-align: center;
}

.projetos {
    display: inline-block;
}
.projetos li {
    display: inline-block;
}
.projetos li a {
    color: #808080;
    display: block;
    margin-right: 1.5rem;
    text-decoration: none;
}
.projetos li a:hover {
    text-decoration: underline;
}