.o-content {
    grid-area: main;
    min-height: calc(100vh - (var(--headerHeight) + var(--footerHeight)));
    overflow: auto;
    padding: var(--padding);
}
.o-content > ul {
    margin: 1rem 2rem;
}

.l-menuBackground {
    background: rgba(0, 0, 0, .5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}