* {
    box-sizing: border-box;
    font-weight: 300;
}

a {
    color: var(--colorPrimary);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

code {
    background: #EBEBEB;
    color: #595959;
    padding: .05rem .2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}

h3 {
    border-bottom: var(--border);
    border-left: 3px solid var(--colorPrimary);
    padding: .25rem .5rem;
}

li {
    list-style: none;
}

p {
    line-height: 1.25;
    margin: .5rem 0;
    text-align: justify;
}

strong {
    font-weight: bold;
}

ul {
    list-style: none;
}